.results-header {
    width: 100%;
    min-height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-size: cover !important;
    background-position: center !important;

    & .content {
        text-align: center;

        & h4 {
            color: #fff !important;
        }
    }
}

.results-page {
    padding: 80px 0;

}